
@page "/auth/login-test"
@using AdminLte.Site.Shared.Models
@attribute [Authorize]


@inject Services.Interfaces.IUserService UserService

<div class="card mt-4">
    <h4 class="card-header">You're logged in with Blazor WebAssembly & JWT!!</h4>
    <div class="card-body">
        <h6>Users from secure api end point</h6>
     
        @if (users != null)
        {
            <ul>
                @foreach (var user in users)
                {
                    <li>@user.FirstName @user.LastName</li>
                }
            </ul> }
        else
        {
            <ul>
                    <li>Test User</li>
            </ul>
        }

        <a href="/table/test"> DataTable - Test</a>
    </div>
</div>

@code {
    private bool loading;
    private IEnumerable<User> users ;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        users = await UserService.GetAll();
        loading = false;
    }
}
