@page "/"
<ContentHeader>
    <Header>

        <PageTitle Title="Index" />        
    </Header>
</ContentHeader>
<ContentMain>
    <Card>
        <Title><CardTitle>Title</CardTitle></Title>
        <Body>Contents <br /> DataTable-Test</Body>
    </Card>
</ContentMain>
